/.idea/
/infrastructure/db-setup/target/classes/com/amazon/aws/DBSetupHandler.class
/infrastructure/db-setup/target/classes/setup.sql
/infrastructure/db-setup/target/maven-archiver/pom.properties
/infrastructure/db-setup/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/infrastructure/db-setup/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/infrastructure/db-setup/target/db-setup.jar
/infrastructure/db-setup/target/unicorn-db-setup-1.0.0.jar
/software/unicorn-store-spring/target/classes/com/unicorn/store/controller/UnicornController.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/data/UnicornPublisher.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/data/UnicornRepository.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/exceptions/PublisherException.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/exceptions/ResourceNotFoundException.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/model/Unicorn.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/model/UnicornEventType.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/service/UnicornService.class
/software/unicorn-store-spring/target/classes/com/unicorn/store/StoreApplication.class
/software/unicorn-store-spring/target/classes/application.properties
/software/unicorn-store-spring/target/maven-archiver/pom.properties
/software/unicorn-store-spring/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/software/unicorn-store-spring/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/software/unicorn-store-spring/target/original-store-spring-1.0.0.jar
/software/unicorn-store-spring/target/store-spring-1.0.0.jar
/software/unicorn-store-spring/target/
/software/alternatives/unicorn-store-quarkus/target/
/infrastructure/db-setup/target/
/software/unicorn-store-spring-lambda/target/
/software/alternatives/unicorn-store-spring-graalvm/target/
